1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [ ]:
a =[]

for number in range(100):
   if (number+1)%3==0 and (number+1)%5==0 :
     a.append(("HelloWorld"))
   elif (number+1)%3== 0:
     a.append(("Hello"))
   elif (number+1)%5== 0:
     a.append(("World"))
   else: 
     a.append((number+1))

a = tuple(a) 

b=list(a)

for x in range(100):
   if a[x]=="Hello":
     b[x]="Python"
   elif a[x]=="World":
     b[x]="Works"
   elif a[x]=="HelloWorld": 
     b[x]="PythonWorks"

print(b)

[1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
x = 10
y = 50
 
# Swapping of two variables
# Using temporary variable
temp = x
x = y
y = temp
 
print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

In [ ]:
# Swapping of two variables
# without using third variable

x = 10
y = 50

x, y = y, x
 
print("Value of x:", x)
print("Value of y:", y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math
u = [3, 0]
v = [0, 4]
distance = math.sqrt( ((u[0]-v[0])**2)+((u[1]-v[1])**2) )

print(distance)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [59]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [60]:

s.lower()

'write a program that prints the numbers from 1 to 100. but for multiples of three print hello instead of the number and for the multiples of five print world. for numbers which are multiples of both three and five print helloworld.'

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [46]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [49]:
l1 = []
count = 0

for item in l:
    if item not in l1:
        count += 1
        l1.append(item)

print("No of unique items are:", count)

No of unique items are: 54

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [53]:
def square(num):
  return num ** 2

def cube(num):
  return num ** 3

def sixthpower(num):
  return cube(square(num))

#2*2=4
#2*2*2=8
#2*2*2*2*2*2=64

sixthpower(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [71]:
#a)a for loop
for i in range(11):
    print(i, end=" ")
print()

def cube(num):
  return num ** 3

for i in range(11):
    print(cube(i), end=" ")

print()
# b) list comprehension

nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
newlist = [i**3 for i in nums]

print(newlist)

0 1 2 3 4 5 6 7 8 9 10
0 1 8 27 64 125 216 343 512 729 1000
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [73]:
def pythagoreanTriplets(limits) :
    c, m = 0, 2
 
    while c < limits :
         
        for n in range(1, m) :
            a = m * m - n * n
            b = 2 * m * n
            c = m * m + n * n
 
            if c > limits :
                break
 
            print(a, b, c)
 
        m = m + 1

if __name__ == '__main__' :
     
    limit = 100
    pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [87]:
a = [5, 6, 75]  

norm = [(float(i)-min(a))/(max(a)-min(a)) for i in a]
print(norm)

[0.0, 0.014285714285714285, 1.0]